html{
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
}
.container{
    display: flex;
    background-color: rgb(223, 75, 75);
    flex-flow: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container > * {
    margin: 4px;
}
.container__game{
    display: inline-flex;
    width: 400px;
    height: 400px;
}
.container__score{
    display: inline-flex;
    flex: 0 1 1rem;
    align-items: center;
}
.container__score > *{
    margin: 4px;
}
.game{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    background-color: darkgray;
    padding: 8px;
    flex: 1;
}
.banner{
    position: fixed;
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background-color: seagreen;
    visibility: collapse;
    padding: 8px 0px;
}
.banner__text{
    padding: 2%;
    color: whitesmoke;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.banner__winner{
    visibility: visible !important;
    background-color: sandybrown;
}
.banner__fail{
    visibility: visible !important;
    background-color: rgb(88, 56, 129);
}

.game__block{
    display: inline-flex;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Oxygen', sans-serif;
    color:  whitesmoke;
}

.game__block__0{
    background-color: whitesmoke;
    color: transparent;
}

.game__block__2{
    background-color: #4B4237;
}
.game__block__4{
    background-color: #90712C;
}
.game__block__8{
    background-color: #D5A021;
}
.game__block__16{
    background-color: #E1C47D;
}
.game__block__32{
    background-color: #E7D6AB;
}
.game__block__64{
    background-color: #C9BFB7;
}
.game__block__128{
    background-color: #A49694;
}
.game__block__256{
    background-color: #5D4A6C;
}
.game__block__512{
    background-color: #482C54;
}
.game__block__1024{
    background-color: #3D1D48;
}
.game__block__2048{
    background-color: #320E3B;
}